<!DOCTYPE html>
<html>
<head></head>
<body>
    <img src="src/app/dashbaord/pexels-pixabay-356040.jpg" alt="Doctor in pocket" width="500" height="600">

<header>
    <div>
        <h1>{{Welcome}}</h1>
        <div id="navbar">
          
        </div>
    </div>
</header>
<footer>
    <div id="parent">
        <style>
            .footer {
              position: fixed;
              left: 0;
              bottom: 0;
              height: auto;
              width: 100%;
              background-color: #8d448b;
              color: white;
              text-align: center;
            }
            </style>
            
            <div class="footer">
                <div class="list">
              <li><a>Home</a><style>list-style-ty</style></li>
              <li><a>News</a></li>
              <li><a>Contact</a></li>
              <li><a>About</a></li>
              </div>
            </div>
    </div>
</footer>

</body>
</html>
